* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

#nav-icon1 {
  width: 60px;
  height: 45px;
  position: fixed;
  margin: 10px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 70%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 15px;
  width: 55%;
  margin-left: 8.5px;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  background-color:red;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  background-color:red;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.overlay {
  position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.7;
    overflow-x: hidden;
    transition: 0.5s;

}

.overlay-content {

    position: relative;
    top: 25%;
    left: 25%;
    width: 100%;
    margin-top: 75px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #000000;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.overlay a:hover, .overlay a:focus {
    color: #818181;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;

}



.arrow {
    width: 70%;
    height: 15%;
    background-color: #fff;
    left: -40%;
    border-radius: 50%;
     position: absolute;
     overflow-x: 

}
.arrow1 {
    right:-40%;
     width: 70%;
    height: 15%;
    background-color: #fff;
    border-radius: 50%;
     position: absolute;
}
.smth {
    position: relative;
    width: 30%;
    right: -25%;
    bottom: -35%;
    z-index: 2;
}
.smth1 {
    position: relative;
    width: 30%;
    left: -25%;
    bottom: -35%;
    z-index: 2;
  }
 
 .date {
  position: absolute;
  right: 2%;
  bottom:20%; 
  color: #fff;

 }

.date p{
font-size: 40px;
color: #fff;
white-space: nowrap;
}

.logo {
   z-index: 2;
    width: 20%;
    position: absolute;
}


/*animation*/
.mta {
  background-image: url(../images/mta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 180px;
}
.gza{
  background-image: url(../images/gza.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2px;
}
.trees {
  left: 15%;
  bottom: 0px;
}
.trees img {
  width: 80%;
}
 .bus  img{
 width:300px;
}
.bus{
    right: 0%;
    top: 31%;
    transform: translate(-50%, -57%);
    width: 16%;
    -webkit-animation: mymove 7s infinite;
    animation: mymove 7s infinite;
}
@keyframes mymove {
   from { right: 0; }
  to   { right:1920px; }
}
/*animation*/


.container h1 {
   font-weight: 400;
     letter-spacing:8px;
 
}
.common {
  background-color: #EBE8DE;
  
}
.common h1 {
  margin-top: 70px!important;



}
.common  img {
  width: 50%;
  max-width: 135px;
}
.left-side {
  background-color: #EBE8DE;
  padding: 43px;
}
.right-side {
  background-color: #ffffff;
}
.social {
  margin-top: 173px;

}


.social-icons i{
  border: solid black 1px;
  border-radius:50%;
  margin-right: 10px;

}
.form {
   border:solid #EBE8DE 1px;
  left: 50%;
  top: 70%;
 transform: translate(-50%, -20%);
}
.form-class {
  width: 240px;

}
.map-container {
  width: 97%;
 margin:0 auto;

}


.form-container {
  width: 60%;
}

.nowrap {
  white-space: nowrap;
}
.checkbox{
  margin-top: 55px;
}

.additional {
  margin-top: 10px;
}
.btn1 {
  
  border-radius: 0px;
}
.footer {
  margin-top: 20%;
}

/*media */

@media screen and (max-width: 1359px){
 

  .contact-text {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .contact-text1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
}

@media screen and (max-width: 1024px){
  .date h1  {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .date p {
    font-size: 20px;
  }
  .common h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .footer {

    margin-top: 40%;
  }
.map-container{
 width: 100%;
}

.contact-text{
  display: none;
}
.contact-text1 {
 float: left;
}
.social {
  margin-top: 0;
  
}
.social-icons {
  float: right;
}

.right-side{
    background-color: #EBE8DE;
    
  }
.left-side {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
  }
 
}

@media screen and (max-width: 900px){
  .footer {
    margin-top: 100%;
  }
}

@media screen and (max-width: 670px){
  .anim {
    display: none;
  }
 
  .common h1 {

    font-size: 2.5rem;
    font-weight: 700;
  }
  .btn1{
   float: left!important;
  }
  .left-side{
    top:100%;
    padding: 5px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}